# How to Survive an Encounter with Pandas and Python.

In [ ]:
#@title Prep Code - Please Disregard! 
cc_institution_grads = pd.read_csv('cc_institution_grads.csv', encoding = "ISO-8859-1") # Adjust File Path As Needed 'cc_institution_grads.csv'
# Dataset is equally distributed across universities

grads = cc_institution_grads[['unitid', 'gender', 'race']]

gender_counts=grads.groupby(['unitid', 'gender']).count().reset_index()
gender_counts = gender_counts.rename(columns = {"race":"gendercount"})
gender_counts = gender_counts.pivot(index='unitid', columns='gender', values='gendercount').reset_index()
gender_counts = gender_counts.rename(columns = {"F":"Female",
                                                "M":"Male",
                                                "B":"Other"})


race_counts=grads.groupby(['unitid', 'race']).count().reset_index()
race_counts = race_counts.rename(columns = {"gender":"racecount"})
race_counts = race_counts.pivot(index='unitid', columns='race', values='racecount').reset_index()
race_counts = race_counts.rename(columns = {"A":"Asian", "Ai": "American Indian",
                                            "B":"Black", "H": "Hispanic",
                                            "W":"White", "X":"Unknown"})


grad_details = gender_counts.merge(race_counts, how='inner', on=['unitid'], copy=False)

grad_details.to_csv('grad_details.csv', index=False) #Adjust File Path As Needed 'grad_details.csv'

#Introduction

## What is Data Science?

Data Science is the discipline of reading and manipulating data to extract meaningful insights. The field is one of the most rapidly growing today and has applications in fields like Finance, Healthcare, and Natural Sciences, not to mention its growth in industry. IBM has projected a 2.7 million job growth in Data Science and Data Analytics (https://www.ibm.com/downloads/cas/3RL3VXGA) and the Bureau of Labor and Statistics considers data science one of the top 20 fastest growing occupations (https://www.bls.gov/ooh/fastest-growing.htm). 

## What is Python?

Python is a high-level programming language that is used in data science projects due to its clear, concise nature and the numerous libraries/frameworks available to its users. Among these is <b>Pandas</b>. 

Linked below is a cheatsheet of python commands for anyone who needs to brush up on their skills:
http://datacamp-community-prod.s3.amazonaws.com/0eff0330-e87d-4c34-88d5-73e80cb955f2

## What is Pandas?

Pandas is a data analysis tool that allows for easy import and manipulation of data. It's really easy to use, and we'll cover the basics of how to get Pandas up and running. If you have familiarity with Excel, a lot of Pandas concepts should seem familiar.

In [ ]:
# Importing the Pandas Library

import pandas as pd # Labeling this as pd is a standard practice.

# Dataframes

The basic structure for storing data in pandas is known as a <b>dataframe</b>. You can think of dataframes as tables of data that you can then start playing with and manipulating. To create a dataframe, we can use a similar structure as a dictionary. Each column name can be considered a sort of key, while the observations within that column can be viewed as values. Pandas takes this structure and interprets it as a dataframe, which is a data type in and of itself.

In [ ]:
# Inititalize a new 3x3 Dataframe
df = pd.DataFrame({"Col1": [1, 2, 3],
                  "Col2": [4, 5, 6],
                  "Col3": [7, 8, 9]})

# Print dataframe
print("This is the printed dataframe:")
print(df)

# Just showing the dataframe
print("\nThis is a called dataframe:")
df

This is the printed dataframe:
   Col1  Col2  Col3
0     1     4     7
1     2     5     8
2     3     6     9

This is a called dataframe:

   Col1  Col2  Col3
0     1     4     7
1     2     5     8
2     3     6     9

# Reading in External Data

Often, you will be working with data that is already available. With this, you will need to know how to import data and how to begin working with it. For today's lesson, we will be using two datasets. One consists of information on a number of universities and the other contains information about the types of students at each institution. 

The datasets can be found here: [GitHub](https://github.com/CarolinaDataScience/Workshops2021/tree/main/An%20Encounter%20With%20Pythons%20and%20Pandas). Please download **cc_institution_details.cvs** and **grad_details.csv** and put them into your Google Drive. Then copy the file path for each of those files and paste it in the parentheses below. The areas are marked. 

---
While we are using slightly modified files for today's case, the original datasets can be found here: https://data.world/databeats/college-completion.

In [ ]:
# You may need to run this cell to connect the notebook to your individual Google Drive. 

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Loading in the actual data. Please input the direct path from your drive. 
cc_institution_details = pd.read_csv('/###Adjust Path Here###/', encoding = "ISO-8859-1") # Adjust File Path As Needed!
cc_institution_grads = pd.read_csv('/###Adjust Path Here###/') # Adjust File Path As Needed!

# Quick Look At The Data

Once the data is loaded in, it is good to take a look at a snapshot of the dataframe. To do this, we use the function **head()**.

In [ ]:
cc_institution_details.head()

   unitid                            chronname  ... nicknames cohort_size
0  100654               Alabama A&M University  ...       NaN       882.0
1  100663  University of Alabama at Birmingham  ...       UAB      1376.0
2  100690                   Amridge University  ...       NaN         3.0
3  100706  University of Alabama at Huntsville  ...       UAH       759.0
4  100724             Alabama State University  ...       ASU      1351.0

[5 rows x 62 columns]

### Try it on your own!

Try to show the head of our second dataframe **cc_institution_grads**.

In [ ]:
# Please enter your solution here.

In [ ]:
#@title Solution is hidden. Double click to see it.

cc_institution_grads.head()

# Checking Data Types

After we load in the data, and get a quick view of it, we should check the data types present in the dataframe. To do this we use the dtypes element that comes within Pandas.

In [ ]:
# Checking data types. 
cc_institution_details.dtypes

unitid               int64
chronname           object
city                object
state               object
level               object
                    ...
state_sector_ct      int64
carnegie_ct          int64
counted_pct         object
nicknames           object
cohort_size        float64
Length: 62, dtype: object

### Try it on your own!

Try to identify the data types in our second dataframe **cc_institution_grads**.

In [ ]:
# Please enter your solution here.

In [ ]:
#@title Solution is hidden. Double click to see it.

cc_institution_grads.dtypes

# Selecting Columns Of Interest

It is good practice to narrow down your dataset according to the needs of your project. This keeps outside information more safely maintained and is a more ethical approach to data science. First, we will use **columns** to see the columns in the dataset. From here, we can then select certain columns that we will use in our analyses.

In [ ]:
# Viewing the columns. 
cc_institution_details.columns

Index(['unitid', 'chronname', 'city', 'state', 'level', 'control', 'basic',
       'hbcu', 'flagship', 'long_x', 'lat_y', 'site', 'student_count',
       'awards_per_value', 'awards_per_state_value', 'awards_per_natl_value',
       'exp_award_value', 'exp_award_state_value', 'exp_award_natl_value',
       'exp_award_percentile', 'ft_pct', 'fte_value', 'fte_percentile',
       'med_sat_value', 'med_sat_percentile', 'aid_value', 'aid_percentile',
       'endow_value', 'endow_percentile', 'grad_100_value',
       'grad_100_percentile', 'grad_150_value', 'grad_150_percentile',
       'pell_value', 'pell_percentile', 'retain_value', 'retain_percentile',
       'ft_fac_value', 'ft_fac_percentile', 'vsa_year',
       'vsa_grad_after4_first', 'vsa_grad_elsewhere_after4_first',
       'vsa_enroll_after4_first', 'vsa_enroll_elsewhere_after4_first',
       'vsa_grad_after6_first', 'vsa_grad_elsewhere_after6_first',
       'vsa_enroll_after6_first', 'vsa_enroll_elsewhere_after6_first',
       'vsa_grad_after4_transfer', 'vsa_grad_elsewhere_after4_transfer',
       'vsa_enroll_after4_transfer', 'vsa_enroll_elsewhere_after4_transfer',
       'vsa_grad_after6_transfer', 'vsa_grad_elsewhere_after6_transfer',
       'vsa_enroll_after6_transfer', 'vsa_enroll_elsewhere_after6_transfer',
       'similar', 'state_sector_ct', 'carnegie_ct', 'counted_pct', 'nicknames',
       'cohort_size'],
      dtype='object')

In [ ]:
# Selecting Columns of Interest.
cc_institution_details = cc_institution_details[['unitid', 'chronname', 'city', 'state', 'level', 'hbcu',
                                  'long_x', 'lat_y', 'site', 'student_count', 'med_sat_value', 
                                  'aid_value', 'endow_value', ]]

In [ ]:
# Checking columns of our second dataset.
cc_institution_grads.columns

# Since this dataset has already been prepared, we do not need to select out any columns because it has already been done.

Index(['unitid', 'Other', 'Female', 'Male', 'Asian', 'American Indian',
       'Black', 'Hispanic', 'White', 'Unknown'],
      dtype='object')

# Checking for Nulls

Now that we have our columns of interest, we can check for missing data. One way to do this is to use the **isnull()** function and the **sum()** function built within Pandas. This will give us a list of missing values for each column in our dataset.

In [ ]:
cc_institution_details.isnull().sum()

unitid              0
chronname           0
city                0
state               0
level               0
hbcu             1251
long_x              0
lat_y               0
site                0
student_count       0
med_sat_value       0
aid_value           0
endow_value         0
dtype: int64

### Try it on your own!

Try to identify the number of nulls in our second dataframe **cc_institution_grads**.

In [ ]:
# Please enter your solution here.

In [ ]:
#@title Solution is hidden. Double click to see it.

cc_institution_grads.isnull().sum()

# Dropping Nulls

Now that we have checked our data, we can see that there are missing values within our first dataset, so we should probably clean that up. For today's case, we are just going to remove any null values. We want to remove the entire observation, or row, so that they do not affect our analyses later on. There are a number of other ways to address missing data including interpolation and extrapolation. 

To make sure that we are only removing data that needs to be removed, and that are not removing data will-nilly, we will want to identify particular columns. This prevents us from removing too much data. For example, we may not want to remove data just because it is missing an HBCU status or a website url, but we would want to remove observations if they are missing a student count or a median SAT value. So, we select the columns to check to make sure we are not dropping things unecessarily. 

Lastly, we also want to use the **inplace** parameter to make changes to our existing dataset. The default value for this is False. If we have this set to false, we need to assign the returned dataframe to a value otherwise the updated version would not be preserved.

In [ ]:
cc_institution_details.dropna(subset=['student_count', 'med_sat_value', 'aid_value', 'endow_value'], inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# Joining Datasets

Now that we have our datasets cleaned up, we can work to merge them together. To do this, we use the **merge()** function that is built within Pandas. We specify the data to be joined, the type of join that we will be doing, and the column(s) that match the two dataframes. Including all of this information is generally considered good practice. 

Now, there are a number of different joins that we could do. The chart below shows them. For this instance, we want to preserve all of the schools, and thier respective information, in our dataset, rather than preserving all of the data on graduates. Therefore, we will be doing a left join, attaching our grads information onto our details information. 

![](https://i1.wp.com/datascienceexamples.com/wp-content/uploads/2019/12/join_types.png?fit=840%2C788&ssl=1)

In [ ]:
combined_df = cc_institution_details.merge(cc_institution_grads, how='left', on='unitid')

In [ ]:
combined_df.head()

   unitid                            chronname  ... grad_100_rate grad_150_rate
0  100663  University of Alabama at Birmingham  ...           NaN         100.0
1  100663  University of Alabama at Birmingham  ...           NaN           NaN
2  100663  University of Alabama at Birmingham  ...           NaN         100.0
3  100663  University of Alabama at Birmingham  ...           NaN         100.0
4  100663  University of Alabama at Birmingham  ...           NaN           NaN

[5 rows x 22 columns]

# Min, Max, Median

Now that we have our data combined, we can begin looking at some descriptive statistics and getting a feel for our dataset. First, lets look at the min, max, and median using the functions **min()**, **max()**, and **median()**. These are super simple statistics but are very often used, so its good to be familiar with these functions and their use.

In [ ]:
min = combined_df['student_count'].min()
print("Min:", min)

max = combined_df['student_count'].max()
print("Max:", max)

median = combined_df['student_count'].median()
print("Median:", median)

Min: 85
Max: 51333
Median: 2625.0

In [ ]:
min = combined_df['med_sat_value'].min()
print("Min:", min)

max = combined_df['med_sat_value'].max()
print("Max:", max)

median = combined_df['med_sat_value'].median()
print("Median:", median)

Min: 666.0
Max: 1534.0
Median: 1044.0

### Try it on your own!

Try to identify the min, max, and median for the columns **aid_value** and **endow_value**.

In [ ]:
# Please enter your solution here.

In [ ]:
#@title Solution is hidden. Double click to see it.

aid_min = combined_df['aid_value'].min()
print("Aid Min:", aid_min)

aid_max = combined_df['aid_value'].max()
print("Aid Max:", aid_max)

aid_median = combined_df['aid_value'].median()
print("Aid Median:", aid_median)

endow_min = combined_df['endow_value'].min()
print("Endowment Min:", endow_min)

endow_max = combined_df['endow_value'].max()
print("Endowment Max:", endow_max)

endow_median = combined_df['endow_value'].median()
print("Endowment Median:", endow_median)

# Sum and Average

Next, we can look at the sum and average using the functions **sum()** and **mean()**. Again, these are incredibly useful functions because they are very commonly employed.

In [ ]:
sum = combined_df['student_count'].sum()
print("Sum:", sum)

average = combined_df['student_count'].mean()
print("Mean:", average)

Sum: 7500073
Mean: 5756.003837298542

In [ ]:
sum = combined_df['med_sat_value'].sum()
print("Sum:", sum)

average = combined_df['med_sat_value'].mean()
print("Mean:", average)

Sum: 1384325.0
Mean: 1062.4136607828088

### Try it on your own!

Try to identify the sum and average for the columns **aid_value** and **endow_value**.

In [ ]:
# Please enter your solution here.

In [ ]:
#@title Solution is hidden. Double click to see it.

aid_sum = combined_df['aid_value'].sum()
print("Aid Sum:", aid_sum)

aid_average = combined_df['aid_value'].mean()
print("Aid Mean:", aid_average)

endow_sum = combined_df['endow_value'].sum()
print("Endowment Sum:", endow_sum)

endow_average = combined_df['endow_value'].mean()
print("Endowment Mean:", endow_average)

# Standard Deviation and Quantiles


Lastly, we can take a look at the standard deviation and some initial quantile values. To do this we use the function **std()** to find the standard deviation, and the funtion **quantile()** to identify a quantile amount.

In [ ]:
std = combined_df['student_count'].std()
print("Standard Deviation:", std)

quant25 = combined_df['student_count'].quantile(.25)
print(".25 Quantile:", quant25)

quant75= combined_df['student_count'].quantile(.75)
print(".75 Quantile:", quant75)

Standard Deviation: 7403.819110958123
.25 Quantile: 1360.0
.75 Quantile: 6615.5

In [ ]:
std = combined_df['med_sat_value'].std()
print("Standard Deviation:", std)

quant25 = combined_df['med_sat_value'].quantile(.25)
print(".25 Quantile:", quant25)

quant75= combined_df['med_sat_value'].quantile(.75)
print(".75 Quantile:", quant75)

Standard Deviation: 132.4306445062105
.25 Quantile: 976.0
.75 Quantile: 1125.0

### Try it on your own!

Try to identify the standard deviation, the 25th Quantile, and the 75th Quantile for the columns **aid_value** and **endow_value**.

In [ ]:
# Please enter your solution here.

In [ ]:
#@title Solution is hidden. Double click to see it.

aid_std = combined_df['aid_value'].std()
print("Aid Standard Deviation:", aid_std)

aid_quant25 = combined_df['aid_value'].quantile(.25)
print("Aid .25 Quantile:", aid_quant25)

aid_quant75= combined_df['aid_value'].quantile(.75)
print("Aid .75 Quantile:", aid_quant75)

endow_std = combined_df['endow_value'].std()
print("Endowment Standard Deviation:", endow_std)

endow_quant25 = combined_df['endow_value'].quantile(.25)
print("Endowment .25 Quantile:", endow_quant25)

endow_quant75= combined_df['endow_value'].quantile(.75)
print("Endowment .75 Quantile:", endow_quant75)

# Basic Statistics

Now that we have gone through all of these initial descriptive statistics, we can highlight an easier way to get all of this information. There is a handy function within Pandas called **describe()** that gets basic statistics for all of the numerical columns in our dataframe. But, if we want to include all of the columns, and not just the numeric ones, we need to adjust the code a little bit by specifying **include='all'**.

In [ ]:
combined_df.describe()#include='all'

              unitid       long_x  ...        White      Unknown
count    1303.000000  1303.000000  ...  1303.000000  1303.000000
mean   184271.828856   -88.185118  ...    70.936301    70.936301
std     46942.878399    14.432181  ...     6.682492     6.682492
min    100663.000000  -158.062444  ...    18.000000    18.000000
25%    152548.500000   -93.948411  ...    72.000000    72.000000
50%    185572.000000   -84.554657  ...    72.000000    72.000000
75%    214781.500000   -77.644559  ...    72.000000    72.000000
max    462354.000000   -67.456534  ...    72.000000    72.000000

[8 rows x 16 columns]

### Try it on your own!

Try to describe only the four columns that we have previously been working with, rather than the whole table.

In [ ]:
# Please enter your solution here.

In [ ]:
#@title Solution is hidden. Double click to see it.
combined_df[['student_count', 'med_sat_value',
             'aid_value', 'endow_value']].describe()

# Saving Files

Lastly, we want to save our combined dataframe so that we can use it for future analyses. To do this, we use the function to_csv(). Please fill in the data path below and save the file some place where you will ba able to locate it in the future.

In [ ]:
combined_df.to_csv('/###Adjust Path Here###/combined_df.csv', index=False) # Adjust File Path As Needed!

NameError: ignored

# Conclusions

This case introduced us to some basic Pandas concepts, but this is just a start. Pandas is incredibly powerful and innumerable applications. Data Science and Pandas go hand in hand and is crucial to a data science career today. 

In our next lesson, we will be continuing with this case and learning some more advanced techniques and approaches. Please come and check that out if you would like to go further and learn some more information. 

If you would like more information on Pandas, please check out the [documentation](https://pandas.pydata.org/docs/reference/index.html) which outlines all of the Pandas functions and their uses.